.DS_Store
node_modules
javascript.iml
*.js-e
*.json-e
upload/*
coverage/
.idea
*.iml

.babelrc

# No rollup cache
.rts2_cache*

# No source or test needed
src
test

# No build specifics needed
.pubnub.yml
.travis.yml
